@import "main";

// Media Queries

$mobile: "(orientation: portrait)";
$desktop: "(orientation: landscape)";

#feed{
    background: linear-gradient(to left, $pink, $main-color);

    .header{
        height: 70%;
        background: none;

        @media #{$mobile} {
            height: 60%;
        }
        img{
            margin-top: 4%;
            @media #{$mobile}{
                margin-top: 10%;
            }
        }
        h1{
            @media #{$mobile}{
                font-size: 2em;
            }
        }
        h2{
            @media #{$mobile}{
                font-size: 2em;
            }
        }
    }

    .page{

        .article{
            padding: 4% 8%;
            margin-bottom: 8%;
            background-color: rgb(255, 255, 255);
            border-radius: 6px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
            h2{
                margin: 0;
                padding-top: 0;
                padding: auto 4%;
                font-size: 1.4em;
                font-style: italic;
            }
            p{
                text-align: justify;
                font-weight: 300;
                @media #{$mobile} {
                    font-size: 150%;
                }
            }
            &#fb {
                text-align: center;
                @media #{$mobile} {
                    padding: 4% 0%;
                }
                #iframeFB {
                    margin: 20% 0;

                    @media #{$mobile} {
                        margin: 25% 0;
                    }
                }

                iframe {
                    transform: scale(1.4);
                    &#FBmobile{
                        display: none;
                    }

                    @media #{$mobile} {
                        &#FBdesktop {
                            display: none;
                        }
                        &#FBmobile{
                            display: inherit;
                        }
                       transform: inherit;
                       width: 100%;
                    }
                }
            }
        }
        @media #{$mobile} {
            padding: 4% 2%;
        }
        .card-group{
            max-width: 1240px;
            margin: 0 auto 10% auto;

            display: grid;

            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-gap: 20px;


            @media #{$mobile} {
                grid-template-columns: 1fr;
            }

            .card{
                background: #fff;
                border-radius: 10px;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
                padding: 0 0 2% 0%;
                text-align: center;
                grid-column: span 1;
                align-self: center;

                img {
                    padding: 0;
                    border-radius: 10px;
                    margin-bottom: 4%;
                }

                h1 {
                    font-size: 1.4em;
                }

                h2 {
                    font-size: 1em;
                }

                h3 {
                    font-size: 0.8em;
                    a {
                        margin: 2%;
                        padding: 2% 4%;

                        transition: all 0.3s;
                        text-decoration: none;

                        color: $white;
                        border-radius: 4px;

                        border: none;
                        background-color: $main-color;

                        font-size: 1.2em;
                        @media #{$mobile}{
                            font-size: 1.4em;
                            padding: 1% 5%;
                        }
                        &:hover{
                            box-shadow: 0px 8px 16px $shadow;
                        }

                        &:active{
                            background-color: darken($main-color, 20%);
                            box-shadow: 0px 4px 8px $shadow;
                        }
                    }
                }
            }
        }
    }


    .footer{
        background: rgba(25, 25, 25, 0.5);
    }
}
