/*
Created by adiultra for esencia
*/


// Variables


$fb-blue: #3b5998;
$twtr-blue: #1DA1F3;
$green: rgb(139, 233, 73);
$red: rgb(232, 106, 66);
$yellow: #FFD05D;
$pink: #F06C6C;
$violet: #8B23D3;
$rtfd: #8BA0AE;


$white: rgb(255, 255, 255);
$light: rgb(230, 230, 230);
$light-grey: rgb(200, 200, 200);
$grey: rgb(175, 175, 175);
$dark-grey: rgb(50, 48, 40);
$dark: rgb(40, 37, 35);

$main-color: $violet;

$shadow: rgba(0, 0, 0, 0.25);
$shadow-dark: rgba(0, 0, 0, 0.5);

$font-sans: "Lato", "Open Sans", sans;
$font-display: "Ovo", serif;
$font-color: $dark-grey;

// Media Queries

$mobile: "(orientation: portrait)";
$desktop: "(orientation: landscape)";


// Mixins

@mixin button($color) {
    margin: 2%;
    padding: 2% 3%;

    transition: all 0.2s;
    text-decoration: none;

    color: $white;
    border-radius: 4px;

    border: none;
    background-color: $color;

    font-size: 1.2em;
    @media #{$mobile}{
        font-size: 1.4em;
    }
    &:hover{
        box-shadow: 0px 8px 16px $shadow;
    }

    &:active{
        background-color: darken($color, 20%);
    }
}

@mixin heading($size) {
    margin: 0;
    margin-top: 2%;
    padding: 2% 0;

    font-size: $size;
    font-weight: 300;
    text-align: center;
    @media #{$mobile}{
        margin-top: 8%;
        font-size: 0.9*$size;
    }
}

@mixin special {
    margin: 1% 1%;

    text-align: center;
    line-height: 3em;

    a, input{
        &.main-button{ @include button($main-color); };

        &.red-button{ @include button($red); };

        &.green-button{ @include button($green); };

        &.yellow-button{ @include button(darken($yellow, 10%)); };

        &.black-button{ @include button($dark-grey); };

        &.rtfd-button{@include button($rtfd);}

        &.fb-button{ @include button($fb-blue); };

        &.twtr-button{ @include button($twtr-blue); };
    }
}


// ███████ ████████ ██    ██ ██      ███████
// ██         ██     ██  ██  ██      ██
// ███████    ██      ████   ██      █████
//      ██    ██       ██    ██      ██
// ███████    ██       ██    ███████ ███████


html{
    font-family: $font-sans;
    font-size: 1.2em;
    height: 100%;

    body{
        margin: 0px;
        height: 100%;

        /* The Overlay (background) */
        .overlay {
            /* Height & width depends on how you want to reveal the overlay (see JS below) */   
            height: 100%;
            width: 0;
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            background-color: rgb(0,0,0); /* Black fallback color */
            background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
            overflow-x: hidden; /* Disable horizontal scroll */
            transition: 0.5s; /* 0.5 second transition effect to slide in or 
                                slide down the overlay (height or width, depending on reveal) */
            /* The navigation links inside the overlay */
            a {
                padding: 8px;
                text-decoration: none;
                font-size: 36px;
                color: #818181;
                display: block; /* Display block instead of inline */
                transition: 0.3s; /* Transition effects on hover (color) */
            }

            /* When you mouse over the navigation links, change their color */
            .overlay a:hover, .overlay a:focus {
                color: #f1f1f1;
            }

            /* Position the close button (top right corner) */
            .closebtn {
                position: absolute;
                top: 20px;
                right: 45px;
                font-size: 60px;
            }
        }

        /* Position the content inside the overlay */
        .overlay-content {
            position: relative;
            top: 25%; /* 25% from the top */
            width: 100%; /* 100% width */
            text-align: center; /* Centered text/links */
            margin-top: 30px; /* 30px top margin to avoid conflict with the 
                                    close button on smaller screens */
        }


        /* When the height of the screen is less than 450 pixels,
        change the font-size of the links and position the close button again, so they don't overlap */
        @media screen and (max-height: 450px) {
            .overlay a {font-size: 20px}
            .overlay .closebtn {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        } 

        .header{
            height: 100%;

            text-align: center;

            color: $white;
            background-image: linear-gradient($pink, $violet);
            background-size: cover;
            background-position: center;


            font-family: $font-display;
            
            img{
                width: 300px;
                height: 300px;
                margin: 5%;
                @media #{$mobile}{
                    margin-top: 10%;
                    width: 200px;
                    height: 200px;
                }
            }
            h1{
                @include heading(500%);
                margin: -2% 0 0 0;
                padding: 0;
                @media #{$mobile}{
                    font-size: 3em;
                    margin-top: 1%;
                }
            }

            h2{
                @include heading(300%);
                padding: 0;
                margin: 0;
                @media #{$mobile}{
                    font-size: 150%;
                }
            }
        }

        #menu{
            margin-top: -56px;
            background-color: rgba($white, 0);

            height: 40px;
            padding-top: 16px;


            text-align: center;
                

            a{
                margin-right: 1%;
                margin-left: 1%;
                padding: 0;

                text-decoration: none;

                padding: 0 1% 1% 16px;
                color: $white;

                transition: 0.2s;
                font-size: 20px;

                
                &:hover{
                    background: linear-gradient(rgba(#fff, 0), rgba($pink, 0.2));
                    border-bottom: solid 2px $pink;
                }
                @media #{$mobile}{
                    padding: 0 1% 1% 16px;
                    display: none;
                    &.icon {
                        display: block;
                    }
                }
            }
            span.icon{
                display: none;
            }
            @media #{$mobile} {
                background-color: rgba($white, 0);
                span.icon {
                    color: $white;
                    display: initial;
                    right: 0;
                    top: 0;
                    &:hover{
                        border-bottom: 2px solid $main-color;
                    }
                }
                a {
                    display: none;
                }                                
            }
        }

        .page{
            padding: 5% 20%;
            color: $font-color;

            @media #{$mobile}{
                padding: 4%;
                font-size: 1em;
            }
            p{
                text-align: center;

                font-size: 1.2em;

                line-height: 1.5;
                @media #{$mobile} {
                    font-size: 1em;
                }
            }

            h1{ @include heading(2.4em); }

            h2{ @include heading(2em); }

            h3{ @include heading(1.8em); }

            h4{ @include heading(1.5em); }

            h5{ @include heading(1.3em); }

            h6{ @include heading(1.2em); }

            blockquote{
                font-style: italic;
                font-size: 1.4em;
                text-align: center;
                color: $dark;
                padding: 3%;
                background-color: lighten($light, 2);
            }

            .button-wrapper{ @include special; }


            pre{
                font-size: 1.2em;
            }

            img{
                display: block;
                width: 100%;
                padding: 1%;
                margin: auto;

                &:hover{
                    box-shadow: 0px 2px 6px $shadow;
                }
            }
            table{
                overflow: hidden;

                width: auto;
                text-align: center;
                border-collapse: collapse;
                margin: 4% auto;

                @media #{$mobile} {
                    margin: 4% 0;
                }

                thead{
                    th{
                        border-left: 0px solid;
                        border-bottom: 2px solid $main-color;

                        font-size: 1.4em;
                        font-weight: normal;
                        @media #{$mobile}{
                            font-size: 1.2em;
                            padding: 1.5% 0%;
                        }
                    }
                }

                tr{
                    padding: 1.5% 0.5%;

                    td{
                        padding: 0.4em 2.5em;

                        border-bottom: 1px solid $grey;
                        @media #{$mobile} {
                            padding: 0.3em 1.2em;
                        }
                    }


                }
                &.feature-list{
                    width: 100%;
                    tbody{
                        tr{
                            td{
                                border: none;
                                padding: 2% 0;

                                img{
                                    text-align: left;
                                    border: 0 !important;
                                    padding: 0 !important;
                                    width: auto;

                                    &:hover{ box-shadow: none; }
                                }

                                h1{
                                    font-size: 2em;
                                }

                                p{
                                    text-indent: 0;
                                }
                            }
                        }
                    }
                }
            }

            .panels{
                text-align: center;
                .accordion {
                    max-width: 600px;
                    background-color: #eee;
                    color: #444;
                    cursor: pointer;
                    padding: 18px;
                    width: 100%;
                    text-align: left;
                    border: none;
                    outline: none;
                    transition: 0.4s;
                    border-bottom: 2px rgba($main-color, 0) solid;
                    font-size: 1.6em;
                    &:hover {
                        border-bottom: 2px $main-color solid;
                        background-color: #ccc;
                    }
                    &:after {
                            content: '\02795'; /* Unicode character for "plus" sign (+) */
                            font-size: 0.85em;
                            color: #777;
                            float: right;
                            margin-left: 5px;
                    }
                    .active {
                        background-color: #ccc;
                    }
                }

                .panel {
                    padding: 0 18px;
                    background-color: white;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                }

                p{
                    text-align: justify;
                    width: 100%;
                    max-width: 540px;
                    margin: auto;
                    padding: 2% 0;
                    font-size: 0.9em;
                }
            }


             /* Style the tab */
            div.tab {
                overflow: hidden;
                text-align: center;

                border: solid 1px $grey;

                button {

                    background-color: #fff;

                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 8px 16px;
                    transition: 0.3s;

                    font-size: 28px;
                    
                    border-bottom: 4px solid $white;

                    @media #{$mobile} {
                        font-size: 20px;
                    }
                    &.active{
                        background-color: $white;
                        border-bottom: 4px solid $main-color;
                    }

                    &:hover{
                        color: $white;
                        background-color: $main-color;
                        border-bottom: 4px solid $main-color;
                    }
                }
            }

            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 20px 6px 32px 6px;
                border: 1px solid $grey;
                border-top: none;
                @media #{$mobile} {
                    padding: 6px 0px;
                }
            }
        }

        .footer{
            padding: 1% 0%;

            text-align: center;

            color: $white;
            background: linear-gradient(to left, $pink, $main-color);
            font-size: 0.8em;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

            h1{
                font-size: 1.3em;
                font-weight: normal;
            }

            p{
                color: $light;
                margin: 0;
            }
        }
    }
}


// Animations


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  margin-top: 0% !important;
  width: 100%;
  background-color: $main-color !important;
  box-shadow: 0px 5px 10px rgba(#000, 0.3);
}

/* Add some top padding to the page content to prevent sudden quick movement
(as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .page {
  padding-top: 60px;
  br{
    margin-bottom: 20px;
  }
}
